/*  
 El elemento de chat usa un diseño flexible
*/

body {
    background-color: #d8d8d8;
    height: 95%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.chatCont {
    display: flex;
    height: 95vh;
    background-color: #aaa;
}

.chats {
    position: relative;
    width: 50%;
    height: calc(100% - 100px);
    background-color: #888;
    margin: 10px;
    border-radius: 10px;
    margin-right: 5%;
    overflow-y: scroll;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.s-chat {
    width: 80%;
    height: 30px;
    background-color: #fff;
    border: 2px solid #222;
    margin-bottom: 50px;
}

.c-fondo {
    display: flex;
}

#nombre #nombre {
    font-size: large;
}

#ultimoMensaje #ultimoMensaje {
    font-size: large;
}

.box {
    position: relative;
    width: 50%;
    margin: 10px;
    height: calc(100% - 100px);
    background-color: #c4c4c4;
    border-radius: 10px;
}

.item {
    display: flex;
    margin-bottom: 10px;
}

.c-izq {
    flex-direction: row;
}

.c-der {
    flex-direction: row-reverse;
}

.message {
    margin: 0 10px;
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    min-height: 25px;
    padding: 9px 10px;
    align-items: center;
    color: #222121;
}

.img-der,
.img-izq {
    width: 42px;
    height: 42px;
    border-radius: 100%;
}

.img-izq {
    background-color: #4a9d89;
    margin-right: 20px;
}

.img-der {
    background-color: #ad8db2;
    margin-left: 20px;
}

.input-box {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    display: flex;
    padding: 10px 6px;
    box-sizing: border-box;
}

.input-box input {
    flex: 1;
    border: 1px solid #aaa;
    padding: 2px;
    border-radius: 5px;
}

.input-box button {
    width: 80px;
    background: #619ecf;
    border: 0;
    color: #ffffff;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}