body {
    background-color: #62c4be;
    /*background: linear-gradient(253deg, #fff 20%, #62c4be);*/
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recuadro {
    display: flex;
    border-radius: 5px;
    position: absolute;
    width: 600px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -500px;
}

.recuadro-signin {
    margin-top: 25px;
    position: relative;
    float: left;
    text-align: center;
}

.img-pos {
    margin-top: 150px;
    margin-right: 150px;
}

h3 {
    color: #FFF;
    background: #222;
    padding: 20px;
    margin-top: 0px;
    border-radius: 5px;
}

.txtsin {
    width: calc(100% - 60px);
    margin-bottom: 10px;
}

::placeholder {
    color: #222
}

.h50 {
    height: 50%;
}

.w100 {
    width: 100%;
}

#btnEnter {
    background-color: #fff;
    color: #222;
    border-radius: 10px;
    border: 1px solid #222;
    padding: 5px;
    transition: 100ms;
    font-size: medium;
    margin-bottom: 35px;
}

#btnEnter:hover {
    background-color: #555;
    color: #eee;
}