/*General*/

body {
    background-color: #555;
    width: 100%;
    height: 100%;
}

.recuadro {
    background-color: #ddd;
    border: 1 solid #222;
    position: absolute;
    width: 600px;
    height: 600px;
    top: 40%;
    left: 50%;
    margin: -300px 0 0 -300px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px #444;
}

.cabecera {
    background-color: #c4c4c4;
    padding: 2px 0 2px 20px;
    border-radius: 5px;
    margin: 0;
}

.t-cabecera {
    text-align: center;
    margin: 10px;
    font-size: 30px;
}


/*Tiendas*/

.tiendas {
    position: absolute;
    left: 0;
}

ul {
    padding: 10px;
}

.tienda {
    list-style: none;
    background-color: #bbb;
    width: 100px;
    height: 15px;
    padding: 5px;
    margin: 2px;
}


/*Mapa*/

.mapa {
    background-color: #222;
    float: right;
    width: 60%;
    border-radius: 0 0 5px 0;
    height: calc(100% - 104px);
}

.t-mapa {
    font-size: 30px;
    color: #ddd;
    text-align: center;
}


/*inputs sitios*/

.inp-txt {
    position: relative;
    width: 250px;
    margin: 25px 10px 0 10px;
    left: 5px;
    text-align: center;
    background-color: #ddd;
    border: 0;
    border-bottom: 2px solid #222;
}

::placeholder {
    color: #444;
}


/*Politica de privacidad*/

.pp {
    margin: 20px 20px 0 20px;
    text-align: center;
}


/* Fechas */

.fecha {
    background-color: #555;
    position: absolute;
    width: 80%;
    left: 10%;
    height: 60%;
    margin-top: 40px;
}

.bot {
    margin-top: 80%;
}


/* Métodos de pago */

.pago {
    list-style: none;
    text-align: center;
    background-color: #bbb;
    width: 150px;
    height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border: 10px;
    transition: 300ms;
}

.pago:hover {
    background-color: #999;
}

#costoTotal {
    margin: 0;
}

@media screen and (max-width:750px) {
    body {
        overflow: hidden;
    }
    .recuadro {
        width: 80%;
        left: 0;
        top: 0;
        margin-top: 5%;
        margin-left: 10%;
    }
    .flex {
        display: flex;
        flex-direction: column;
    }
    .carrito {
        margin-top: 20px;
    }
    .top-l {
        margin-top: 25%;
    }
    .costo {
        width: 95%;
    }
}